<nav>
  <div class="site-title">
    <a href="/"><h1>World of Books</h1></a>
    <p>An Online Library</p>
  </div>

  <form action="/books" method="GET">
    <input type="text" name="search" placeholder="Search for text">
    <button type="submit">Search</button>
  </form>

  <ul>
    <li><a href="/">Books</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/books/create">New Book</a></li>
  </ul>

  
</nav>