  
  <div class="navbar">
    <div class="logo">
      <a href="/">
        <img src="/logo.svg" alt="Logo" width="150">
      </a>
    </div>
    <ul class="navlist">
      <li class="navlist-item ">
        <a href="/" class="navlist-link">Books</a>
      </li>
      <li class="navlist-item ">
        <a href="/contact" class="navlist-link">Contact</a>
      </li>
      <li class="navlist-item ">
        <a href="/books/create" class="navlist-link">New Book</a>
      </li>
    </ul>
  </div>
  