<html lang="en">
<%- include("./partials/head.ejs") %>

<head>
  <link rel="stylesheet" href="/contact.css">
</head>

<body>
  

  <div class="wrapper">
    <%- include("./partials/nav.ejs") %>

    <h1>
      Contact
      <span class="accent-color">Me</span>
    </h1>
    <h2>
      This is how you can reach me...
    </h2>
    <div class="boxes">
      <div>
        <span class="accent-color">Email: </span> tudordangabriel28@gmail.com
      </div>
      <div>
        <span class="accent-color">Phone: </span> (+40) 0775 311 034
      </div>
      
    </div>
  </div>
    

  <%- include("./partials/footer.ejs") %>
</body>
</html>