<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-book content">
    <form action="/books/create" method="POST">
      <label for="title">Book title:</label>
      <input type="text" name="title" required>
      <label for="author">Book author:</label>
      <input type="text" name="author" required>
      <label for="category">Book category:</label>
      <input type="text" name="category" required>
      <div class="rating">
        <label for="rating">Rating:</label>
        <input type="number" name="rating"  step="0.1" max="5" placeholder="Rate 1 - 5" required>
      </div>
      <label for="description">Book description:</label>
      <textarea id="description" name="description" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>