@import "settings.css";

.create-book-title {
  color: #ffa001;
  padding: 1em 0 0 2em;
}

#description {
  height: 8em;
}

.submit-button {
  float: right;
}
.delete-btn:hover {
  color: black !important;
}
.form-container {
  padding: 0 5rem;
}
